.star-cb-group {
    font-size: 0;
    unicode-bidi: bidi-override;
    direction: rtl;
}
.star-cb-group * {
    font-size: 4rem;
}
.star-cb-group > input {
    display: none;
}
.star-cb-group > input + label {
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: default;
}
.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: '\2606';
    color: #888;
}
.star-cb-group > input:checked ~ label:before{
    content: '\2605';
    color: #e52;
    text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: 0.5em;
    margin-left: -0.5em;
}
.star-cb-group > .star-cb-clear + label:before {
    width: 0.5em;
}